@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --red: #b63334;
  --grey: #434343;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--grey);
  font-style: normal;
  font-weight: 400;
}


.container {
  max-width: 1200px;
  margin: auto;
}

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: var(--red);
}
.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
}

.logo {
  max-width: 135px;
  max-height: 67.69px;
}

.headerLinks {
  max-width: 600px;
  max-height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-right: 10px;
  margin-left: 10px;
  width: 100%;
}

.el {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #434343;
}

.el1{
  margin-bottom:10px ;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #434343;
}

el2{
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #434343;
}

.social {
  display: flex;
  flex-direction: column;
}

.mail {
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #434343;
  position: relative;
  top: 5px;
}

.mail img {
  width: 18px;
  height: 15px;
  margin-right: 5px;
}

.connect {
  position: relative;
  top: 5px;
}
.connect img {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
.btn {
  width: 221px;
  height: 55px;
  background-color: #b63334;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  margin-left: 5%;
}

.defend {
  background-image: url("assets/images/bg1.png");
  background-repeat: no-repeat;
  min-height: 609px;
  background-size: cover;
  padding: 5%;
}

.defendContent ul li {
  color: var(--red);
  margin-top: 13px;
}
.defendContent ul li span {
  color: var(--grey);
}
.wrapper {
  min-height: 610px;
  padding-top: 75px;
  display: flex;
  padding-bottom: 75px;
}

.call{
    max-width: 700px;
}
.callForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:space-evenly;

}

#telNo{
    background: #FFFFFF;
    border-radius: 5px;
    width: 211px;
    height: 55px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 0px;
    padding-left: 10px;
    margin-bottom: 5%;
    margin-left: 5%;
}
button{
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}


.largeLogo img {
  max-width: 512px;
  max-height: 461px;
}
.advantages{
  padding-top: 75px;
  min-height: 308px;
}
.advantagesContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  max-width: 360px;
  min-height: 156px;
  padding-left: 20px;
  background: #b63334;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 10%;
}
.cardContent {
  padding: 10px;
}

.cardContent h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 12px;
}

.cardContent p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.situationContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
}

.situationContentHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--red);
  flex-wrap: wrap;
  justify-content: flex-start;
}

.situationContentHead span {
  color: var(--grey);
}

.situationContentMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.situationImg img {
  width: 200px;
  height: 137px;
  margin-bottom: 20px;
}

.situationCard {
  width: 200px;
  margin-right: 1%;
}

.situationText {
  height: 223px;
  background: linear-gradient(
    246.89deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 57.67%
  );
  filter: drop-shadow(4px 4px 50px rgba(0, 0, 0, 0.1));
  border-radius: 5px;
  padding: 20px;
}

.situationText span {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.situationContent p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.find {
  min-height: 1265px;
  padding-top: 75px;
  background: #f8f8f8;
  background-image: url("assets/images/bg3.svg");
  background-repeat: no-repeat;
  background-position: right top;
  padding-bottom: 75px;
  padding: 5%;
}

.findContent {
  display: flex;
  flex-direction: column;
}

.findHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.findHead li {
  color: var(--red);
}

.findHead span {
  color: var(--grey);
}

.findImg {
  margin-bottom: 45px;
}
.findImg img {
  max-width: 1200px;
  width:100%
  
}

.findMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.findCard {
  width: 380px;
  margin-right: 20px;
  position: relative;
}

.findCard li {
  position: relative;
  right: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--red);
}
.findCard p {
  padding-left: 20px;
}

.suggest {
  min-height: 1000px;
  padding-top: 75px;
  background-image: url("assets/images/bg4.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 75px;
  padding-left: 5%;
  padding-right: 5%;
}

.suggestContent {
  display: flex;
  flex-direction: column;
}

.suggestHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.suggestHead li {
  color: var(--red);
}

.suggestHead span {
  color: var(--grey);
}

.suggestMain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.suggestCard {
  max-width: 360px;
  max-height: 213px;
  background: #f8f8f8;
  border-bottom: 5px solid var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 5%;
  margin-right: 2%;
}

.suggestCard:hover {
  color: var(--red);
  border-bottom: 5px solid var(--red);
}

.suggestWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.suggestText {
  height: 213px;
  padding: 20px;
  position: relative;
  padding-bottom: 50px;
}

.suggestText p {
  position: relative;
}

.itemHead {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.itemfooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 10px;
}

.itemfooter img {
  margin-left: 70%;
}

.more {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.stages {
  min-height: 771px;
  background: #f8f8f8;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 5%;
  padding-right: 5%;
}

.stagesHead {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.stagesHead li {
  color: var(--red);
}

.stagesHead span {
  color: var(--grey);
}

.stagesMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.stagesCard {
  width: 360px;
  height: 254px;
  background: #ffffff;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.stagesText {
  padding: 45px;
  position: relative;
}

.stagesText .btn{
  position: relative;
  right: 25px;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.stagesItemHead {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.stagesText p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.results {
  min-height: 850px;
  background-image: url("assets/images/bg5.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 5%;
  padding-right: 5%;
}

.resultsContent {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.resultsHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.resultsHead li {
  color: var(--red);
}

.resultsHead span {
  color: var(--grey);
}

.resultsMain {
  max-width: 1160px;
  min-height: 557px;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.case {
  width: 100%;
  padding: 2%;
}

.caseHead {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 25px;
}

.caseTask {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
}

.caseSolution {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
}

.solutionText {
  margin-bottom: 25px;
}

.readMore {
  display: inline;
  color: var(--red);
  border-bottom: 1px solid var(--red);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.choose {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.chooseCard {
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 25px;
}


.chooseCard:hover{
  background-color: var(--red);
  color: white;
}

.chooseCard span{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.questions {
  margin-top: 75px;
  margin-bottom: 75px;
  min-height:1190px;
  padding-left: 5%;
  padding-right: 5%;
}

.questionsHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.questionsHead h2{
  max-width: 800px;
}
.questionsHead li {
  color: var(--red);
  max-width: 450px;
}

.questionsHead span {
  color: var(--grey);
  max-width: 200px;
}

.questionsMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.questionCard {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  background: #ffffff;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 30px;
  margin-right: 40px;
}

.cardHead {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-start;
  background: #FFFFFF;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-height: 112px;
  margin-bottom: 21px;
}

.headerText {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.cardContent {
  padding: 0px 20px 20px 20px;
}

.reviews {
  min-height: 495px;
  padding-bottom: 75px;
}

.reviewsContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 495px;
}

.contacts {
  min-height: 768px;
  background-color: #f8f8f8;
  padding-left: 5%;
  padding-right: 5%;
}

.contactsContent {
  padding-top: 75px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contentBlock h2 {
  margin-top: -10px;
}

.contentText {
  border-left: 5px solid var(--red);
  padding-left: 25px;
}
.num {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.sub {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #858585;
}

.mail2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.mail2 img {
  width: 27px;
  height: 22px;
  margin-right: 15px;
}

.social2 img {
  width: 26px;
  margin-right: 20px;
}

.qrText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.qrText img {
  width: 175px;
  height: 175px;
  margin-left: -10px;
}

.map img {
  width: 600px;
  height: 638px;
}

footer {
  background-color: #1b1b1b;
  padding-top: 75px;
  padding-bottom: 75px;
  width: 100%;
}

.reviewsContent {
  display: flex;
  min-height: 495px;
}
.carousel-wrapper {
  height: 300px;
  position: relative;
  width: 800px;
  margin: 0 auto;
  padding-bottom: 10%;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}


.arrow {
  background-image: url("assets/images/arrow.svg");
  background-size: cover;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
  width: 34px;
  height: 34px;
}

.arrow-prev {
  left: -15%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}

.arrow-next {
  right: -15%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
}

.light {
  color: white;
}

/* @media (max-width: 480px) {
  .arrow,
  .light .arrow {
    background-size: 50px;
    background-position: 50px 50%;
    background-repeat:no-repeat;
  }
} */

/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background-color: #F8F8F8;
  background-size: cover;
  border-bottom: 8px solid var(--red);
}
.item-2 {
    background-color: #F8F8F8;
    border-bottom: 8px solid var(--red);
}
.item-3 {
    background-color: #F8F8F8;
    border-bottom: 8px solid var(--red);
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}



.avaMark{
    margin-bottom: 18px;
}


@media (max-width: 1200px) {
  .container{
    max-width: 970px;
    margin: auto;
  }
  .el{
    display: none;
  }

  /* .social{
    display: none;
  }

  .header > .btn{
    display: none;
  } */

}

@media (max-width: 1060px) {
  .container{
    max-width: 720px;
    margin: auto;
  }

  .carousel-wrapper {
    min-height: 400px;
    position: relative;
    width: 550px;
    margin: 0 auto;
  }

  .el{
    display: none;
  }

  .social{
    display: none;
  }

  .header > .btn{
    display: none;
  }

}

@media (max-width: 769px) {
  .container{
    max-width: 640px;
    margin: auto;
  }

  .largeLogo img {
    max-width: 275px;
    max-height: 224px;
  }

  .carousel-wrapper {
    min-height: 400px;
    position: relative;
    width: 350px;
    margin: 0 auto;
  }

  .qrText img {
    width: 175px;
    height: 175px;
    margin-left: -10px;
  }
  .arrow-prev {
    left: -18%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
  }
  
  .arrow-next {
    right: -18%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
  }

  .el{
    display: none;
  }

  .social{
    display: none;
  }

  .header > .btn{
    display: none;
  }

  .choose{
    display: none;
  }
}

@media (max-width: 480px) {
  .container{
    max-width: 320px;
    margin: auto;
  }

  h2{
    font-size: 26px;
  }

  .largeLogo img {
    display: none;
  }

  .carousel-wrapper {
    min-height: 500px;
    position: relative;
    width: 300px;
    margin: 0 auto;
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  }

  .qrText img {
    width: 100px;
    height: 100px;
    margin-left: -10px;
  }

  .arrow-prev {
    position: absolute;
    top: 570px;
    left: 30px;
    transform: translateY(-50%) rotate(180deg);
  }
  
  .arrow-next {
    position: absolute;
    top: 570px;
    right: 30px;
    transform: translateY(-50%) rotate(0deg);
  }

  .el{
    display: none;
  }

  .social{
    display: none;
  }

  .header > .btn{
    display: none;
  }

  .choose{
    display: none;
  }

  .wrapper{
    padding-top: 0;
  }

  .el2{
    display: none;
  }
}

@media (max-width: 319px) {
  .container{
    max-width: 300px;
    margin: auto;
  }
}