@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --red: #b63334;
  --grey: #434343;
}
body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  color: var(--grey);
  font-style: normal;
  font-weight: 400;
}

a{
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat';
}


.container {
  max-width: 1200px;
  margin: auto;
}

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: var(--red);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 1200px;
}
.false > .call{
  display: none;
}


.logo {
  max-width: 135px;
  max-height: 67.69px;
}

.headerLinks {
  max-width: 780px;
  max-height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10px;
  margin-left: 10px;
  width: 100%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #434343;
}

.headerLinks a{
  color: #434343;
}

#telephone{
  font-weight: bold;
}
.el {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  color: #434343;
}

.el1{
  margin-bottom:10px ;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #434343;
}

.el2{
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #434343;
}

.social {
  display: flex;
  flex-direction: column;
}

.mail {
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #434343;
  position: relative;
  top: 5px;
}

.mail img {
  width: 18px;
  height: 15px;
  margin-right: 5px;
}

.connect {
  position: relative;
  top: 5px;
}
.connect img {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
.btn {
  width: 221px;
  height: 55px;
  background-color: #b63334;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
}

.defend {
  background-image: url("assets/images/bg1.png");
  background-repeat: no-repeat;
  min-height: 596px;
  background-size: cover;
  padding-left: 5%;
  padding-right:5% ;
}


.defendContent ul li {
  color: var(--red);
  margin-top: 13px;
}
.defendContent ul li span {
  color: var(--grey);
}
.defendContent h2{
  margin-bottom: 45px;
}
.defendContent ul{
  position: relative;
  left: -20px;
}

.defendContent .call{
  position: relative;
  left: -10px;
}
.wrapper {
  min-height: 610px;
  padding-bottom: 3%;
  display: flex;
  align-items: center;
}

.call{
    /* max-width: 1200px; */
    width: 100%;
    height: 180px;
}
.callForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:space-evenly;
}

.callText{
  margin-bottom: 20px;
  color: var(--grey);
}

.callHead{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
  color: var(--grey);
}

#telNo{
    background: #FFFFFF;
    border-radius: 5px;
    width: 211px;
    height: 55px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 0px;
    padding-left: 10px;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 10px;
}
button{
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.a{
  color: #878787;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  bottom: 20px;
  left: 10px;
  max-width: 229px;
}

/* .cmt, .cmt1, form{
  display: flex;
  justify-content: center;
} */

.modalHead{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #434343;
  margin-top: 10px;
}

.justify{
  display: flex;
  justify-content: center;
}


.callForm button{
  margin-left: 11px;
}

.largeLogo img {
  max-width: 512px;
  max-height: 461px;
}



.advantagesContent {
  min-height: 308px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 75px;
}

.card {
  max-width: 360px;
  min-height: 176px;
  padding-left: 20px;
  background: #b63334;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 7%;
  
}
.cardContent {
  padding: 20px;
}

.cardContent h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 12px;
}

.cardContent p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}


.situationContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.situationContentHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--red);
  /* flex-wrap: wrap; */
  justify-content: flex-start;
}

.situationContentHead span {
  color: var(--grey);
}

.situationContentMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
}

.situationImg img {
  width: 200px;
  height: 137px;
  margin-bottom: 20px;
}

.situationCard {
  max-width: 200px;
  margin-right: 1%;
}

.situationText {
  max-height: 223px;
  background: linear-gradient(
    246.89deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 57.67%
  );
  filter: drop-shadow(4px 4px 50px rgba(0, 0, 0, 0.1));
  border-radius: 5px;
  padding: 20px;
}

.situationText span {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.situationContent p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.find {
  min-height: 1265px;
  background: #f8f8f8;
  background-image: url("assets/images/bg3.svg");
  background-repeat: no-repeat;
  background-position: right top;
  padding-bottom: 75px;
  padding-top: 75px;
  padding-left: 5%;
  padding-right: 5%;
}

.findContent {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.findHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  max-width: 1200px;
 
}

.findHead li {
  color: var(--red);
 
}

.findHead span {
  color: var(--grey);
}

.findImg {
  margin-bottom: 45px;
}
.findImg img {
  max-width: 1200px;
  width:100%;
  border-radius: 5px;
}

.findMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.findCard {
  width: 380px;
  margin-right: 20px;
  position: relative;
}

.findCard li {
  position: relative;
  right: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--red);
}
.findCard p {
  padding-left: 20px;
}

.suggest {
  min-height: 1000px;
  padding-top: 75px;
  background-image: url("assets/images/bg4.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 75px;
  padding-left: 5%;
  padding-right: 5%;
}

.suggestContent {
  display: flex;
  flex-direction: column;
}

.suggestHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
}

.suggestHead li {
  color: var(--red);
}

.suggestHead span {
  color: var(--grey);
}

.suggestMain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.suggestCard {
  max-width: 360px;
  max-height: 213px;
  background: #f8f8f8;
  border-bottom: 5px solid var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 5%;
  margin-right: 2%;
}

.suggestCard:hover {
  color: var(--red);
  border-bottom: 5px solid var(--red);
}

.suggestWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.suggestText {
  height: 213px;
  padding: 20px;
  position: relative;
  padding-bottom: 1%;
}

.suggestText p {
  position: relative;
}

.css-modal-details1 {
  margin-left: -10px;

}

/* Кнопка для открытия */
.css-modal-details1 summary {
  display: inline-flex;
  margin: 10px;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  line-height: 20px;
  color: var(--grey);
  font-weight: bold;
  /* background: #337AB7; */
  cursor: pointer;
  overflow: hidden;
  z-index: 1;    
  /* background-color: #b63334; */
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */


color: #434343;
}
.css-modal-details1 summary:hover{
  color: var(--);
}
.css-modal-details1 summary:active,
.css-modal-details1 summary:focus {
  color: var(--grey);
}
.css-modal-details1 summary:before {
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  bottom: 0;
  left: 0;
  border-right: 50px solid transparent;
  z-index: -1;

  width: 221px;
  height: 55px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
}
.css-modal-details1 summary:hover:before,
.css-modal-details1 summary:active:before,
.css-modal-details1 summary:focus:before {
  /* transform: translateX(0); */
}

/* Кнопка при открытом окне переходит на весь экран */
.css-modal-details1 details[open] summary {
  cursor: default;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}

/* Контейнер, который затемняет страницу */
.css-modal-details1 details .cmc1 {
  display:flex;
  align-items:center;
  justify-content:center;    
}
.css-modal-details1 details[open] .cmc1 {
  pointer-events: none;
  z-index: 4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: bg 0.5s ease;
  background: rgba(0, 0, 0, 0.6); 
}

/* Модальное окно */
.css-modal-details1 details .cmt1 {
  font-family: Verdana, sans-serif;  
  font-size: 16px;
  padding: 20px;
  width:80%;
  max-width: 600px;
  max-height: 70%;
  transition: 0.5s;
  /* border: 6px solid var(--red); */
  border-radius: 12px;
  background: #F5F6F8;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
  text-align: center;
  overflow: auto;
}
.css-modal-details1 details[open] .cmt1 {
  animation: scale 0.5s ease;
  z-index: 4;
  pointer-events: auto;
}

/* Декоративная кнопка с крестиком */
.css-modal-details details[open] .cmc:after {
  display: none;
  content: "";
  width: 50px;
  height: 50px;
  /* border: 6px solid #BFE2FF; */
  border-radius: 12px;
  position: absolute;
  z-index: 10;
  top: 35%;
  left: 70%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
  background-image: url("assets/images/closesm.svg");
  background-color: #FFF;
  background-size: 40px;
  background-repeat:no-repeat;
  background-position: center center;
  animation: scale 0.5s ease;
}

summary:hover{
  color: var(--red);
}













.itemHead {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.itemfooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 10px;
}

.itemfooter img {
  position: absolute;
  right: -180px;
}

.more {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.stages {
  min-height: 771px;
  background: #f8f8f8;
  padding-bottom: 75px;
  padding-left: 5%;
  padding-right: 5%;
}

.stagesHead {
  padding-top: 75px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.stagesHead li {
  color: var(--red);
}

.stagesHead span {
  color: var(--grey);
}

.stagesMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.stagesCard {
  width: 360px;
  height: 254px;
  background: #ffffff;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.stagesText {
  padding: 45px;
  position: relative;
}

.stagesText .btn{
  position: relative;
 
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.stagesItemHead {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.stagesText p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.results {
  min-height: 850px;
  background-image: url("assets/images/bg5.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 75px;
}

.resultsContent {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.resultsHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
}

.resultsHead li {
  color: var(--red);
}

.resultsHead span {
  color: var(--grey);
}

.resultsMain {
  max-width: 1160px;
  min-height: 557px;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
}

#case2{
  position: absolute;
  width: 1%;
  z-index: -999;
}

#case3{
  position: absolute;
  width: 1%;
  z-index: -999;
}

.case {
  width: 100%;
  padding: 2%;
}

.caseHead {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 25px;
}

.caseTask {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
}

.caseSolution {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
}

.solutionText {
  margin-bottom: 25px;
}

.readMore {
  display: inline;
  color: var(--red);
  border-bottom: 1px solid var(--red);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.choose {
  width: 35%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.chooseCard {
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 25px;
  cursor: pointer;
}


.chooseCard:hover{
  background-color: var(--red);
  color: white;
}

.chooseCard span{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.questions {
  margin-bottom: 75px;
  min-height:1200px;
  display:flex;
  justify-content: center;
}

.questionsHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
}

.questionsHead h2{
  max-width: 500px;
}
.questionsHead li {
  color: var(--red);
  max-width: 450px;
}

.questionsHead span {
  color: var(--grey);
  max-width: 200px;
}

.questionsMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  
}

.questionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 560px;
  background: #ffffff;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 30px;
  /* margin-right: 40px; */
}

.cardHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  
  max-height: 112px;
}

.headerText {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items:center;
  padding: 20px 20px 20px 20px;
}

.cardContent {
  padding: 20px 20px 20px 20px;
}

.reviews {
  min-height: 495px;
  padding-bottom: 75px;
}

.reviewsContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 495px;
}

.contacts {
  min-height: 500px;
  background-color: #f8f8f8;
  padding-left: 5%;
  padding-right: 5%;
}

.contactsContent {
  padding-top: 75px;
  display: flex;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  justify-content: center;
  padding-bottom: 75px;
}

.contentBlock{
  margin-bottom: 20px;
}



.contentBlock h2 {
  margin-top: -10px;
}

.contentText {
  border-left: 5px solid var(--red);
  padding-left: 25px;
}
.num {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  
}

.num a{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */


  color: #434343;
}

.sub {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #858585;
}

.mail2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.mail2 img {
  width: 27px;
  height: 22px;
  margin-right: 15px;
}

.social2 img {
  width: 26px;
  margin-right: 20px;
}

.qrText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.qrText img {
  width: 175px;
  height: 175px;
  margin-left: -10px;
}

.map img {
  min-width: 320px;
  
}

footer {
  background-color: #1b1b1b;
  padding-top: 75px;
  padding-bottom: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer{
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footerFirst{
  margin-right: 5%;
}

.footerSecond{
  margin-right: 5%;
  color:white;
  line-height: 30px;
}

.footer a{
  color: #434343;
}

.footerThird{
  line-height: 30px;
  color: white
}

.agreement{
  margin-top: 30px;
  margin-bottom: 30px;
}

.reviewsContent {
  display: flex;
  min-height: 495px;
  justify-content: center;
}

.reviewsContent h2{
  text-align: center;
}
.carousel-wrapper {
  height: 300px;
  position: relative;
  width: 800px;
  margin: 0 auto;
  padding-bottom: 10%;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}


.arrow {
  background-image: url("assets/images/arrow.svg");
  background-size: cover;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
  width: 34px;
  height: 34px;
}

.arrow-prev {
  left: -15%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}

.arrow-next {
  right: -15%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
}

.light {
  color: white;
}

/* @media (max-width: 480px) {
  .arrow,
  .light .arrow {
    background-size: 50px;
    background-position: 50px 50%;
    background-repeat:no-repeat;
  }
} */

/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background-color: #F8F8F8;
  background-size: cover;
  border-bottom: 8px solid var(--red);
}
.item-2 {
    background-color: #F8F8F8;
    border-bottom: 8px solid var(--red);
}
.item-3 {
    background-color: #F8F8F8;
    border-bottom: 8px solid var(--red);
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}



.avaMark{
    margin-bottom: 18px;
}




@media (max-width: 1190px) {
  .container{
    max-width: 1060px;
    margin: auto;
  }

  .itemfooter img {
    position: absolute;
    right: -230px;
  }

  .questionCard{
    margin-right: 0px;
  }


  /* .social{
    display: none;
  }

  .header > .btn{
    display: none;
  } */

  .situationContentMain {
   
    justify-content: space-evently;
   
  }
}

@media (max-width: 1060px) {
  .container{
    max-width: 720px;
    margin: auto;
  }

  .itemfooter img {
    position: absolute;
    right: -200px;
  }

  .carousel-wrapper {
    min-height: 400px;
    position: relative;
    width: 550px;
    margin: 0 auto;
  }

  .e{
    display: none;
  }

  .social{
    display: none;
  }


  .situationContentMain {
   
    justify-content: space-evenly;
   
  }
  

  .questionCard{
    margin-right: 0px;
  }
  .contactsContent {
    padding-top: 75px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 75px;
  }

}

@media (max-width: 769px) {
  .container{
    max-width: 640px;
    margin: auto;
  }

  .itemfooter img {
    position: absolute;
    right: -180px;
    
  }

  .questionCard{
    margin-right: 0px;
  }

  .largeLogo img {
    max-width: 275px;
    max-height: 224px;
  }

  .carousel-wrapper {
    min-height: 400px;
    position: relative;
    width: 350px;
    margin: 0 auto;
  }

  .qrText img {
    width: 175px;
    height: 175px;
    margin-left: -10px;
  }
  .arrow-prev {
    left: -18%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
  }
  
  .arrow-next {
    right: -18%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
  }

  .e{
    display: none;
  }

  .social{
    display: none;
  }

  /* .header > .btn1{
    display: none;
  } */

  .resultsMain{
    display: flex;
    flex-wrap: wrap;
    
  }
  .choose{
    /* display: none; */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .chooseCard{
    width: 125px;
  }

  .chooseCard span{
    font-size: 16px;
  }

  .situationImg img {
    width: 300px;
    height: 206px;
    margin-bottom: 20px;
  }
  
  .situationCard {
    max-width: 300px;
    margin-right: 1%;
  }
  .situationContentHead{
    flex-wrap: wrap;
  }
  .findHead{
    flex-wrap: wrap;
  }
  
.suggestHead{
  flex-wrap: wrap;
}
.resultsHead{
  flex-wrap: wrap;
}
.questionsHead{
  flex-wrap: wrap;
}
/* .btnTop{
  display: none;
} */

.stagesCard{
  margin-right: 0px;
}
.contactsContent {
  padding-top: 75px;
  display: flex;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  justify-content: center;
  padding-bottom: 75px;
}

}


@media (max-width: 480px) {
  

  .cardHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
    max-height: 100px;
  }

  .btn{
    width: 300px;
  }

  #telNo{
    width: 290px;
    position: relative;
    right: 5px;
  }
  .choose {
    width: 320px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
  }

  .chooseCard{
    margin-right: auto;
    margin-left: auto;
    width: 240px;
  }
 
 

  .stagesCard{
    margin-right: 0px;
  }

  .container{
    max-width: 320px;
    margin: auto;
  }

  .questionCard{
    margin-right: 0px;
  }

  .itemfooter img {
    position: absolute;
    right: -140px;
  }

  .questionCard{
    margin-right: 0px;
  }

  h2{
    font-size: 26px;
  }

  .largeLogo img {
    display: none;
  }

  .carousel-wrapper {
    min-height: 500px;
    position: relative;
    width: 300px;
    margin: 0 auto;
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  }

  .qrText img {
    width: 100px;
    height: 100px;
    margin-left: -10px;
  }

  .arrow-prev {
    position: absolute;
    top: 570px;
    left: 30px;
    transform: translateY(-50%) rotate(180deg);
  }
  
  .arrow-next {
    position: absolute;
    top: 570px;
    right: 30px;
    transform: translateY(-50%) rotate(0deg);
  }

  .social{
    display: none;
  }

  .css-modal-details{
    display: none;
  }

  .chooseCard p{
    display: none;  
  }

  .wrapper{
    padding-top: 0;
  }

  .e{
    display: none;
  }
  .situationImg img {
    width: 300px;
    height: 206px;
    margin-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .situationCard {
    max-width: 300px;
    margin-right: 1%;
    justify-content: center;
  }
  .situationContentHead{
    flex-wrap: wrap;
  }

  .situationContentMain{
    display: flex;
    justify-content: center;
  }
  .findHead{
    flex-wrap: wrap;
  }
  
.suggestHead{
  flex-wrap: wrap;
}
.resultsHead{
  flex-wrap: wrap;
}
.questionsHead{
  flex-wrap: wrap;
}

h2{
  line-height: 30px;
}
.btnTop{
  display: none;
}
.headerText {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #434343;
}
  .cardContent{
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  }
  .contactsContent {
    padding-top: 75px;
    display: flex;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding-bottom: 75px;
  }
}



@media (max-width: 320px) {
  .cardHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
    max-height: 100px;
  }
  .btn{
    width: 290px;
  }
  .contactsContent {
    padding-top: 75px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 75px;
  }

  #telNo{
    width: 280px;
    position: relative;
    right: 5px;
  }
  .choose {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .container{
    max-width: 300px;
    margin: auto;
  }
  .questionCard{
    margin-right: 0px;
  }
  .stagesCard{
    margin-right: 0px;
  }
  
  .headerText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #434343;
  }
  .resultsMain{
    padding-right: 0px;
  }
}

/* Контейнер для кнопки, чтобы не прыгал контент, когда она сменит позиционирование */
.css-modal-details {
  height: 60px;
  display:flex;
  align-items:center;
  margin-left: -10px;

}

/* Кнопка для открытия */
.css-modal-details summary {
  display: inline-flex;
  margin: 10px;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  line-height: 20px;
  color: #FFF;
  font-weight: bold;
 
  /* background: #337AB7; */
  cursor: pointer;

  overflow: hidden;
  z-index: 1;    

  width: 221px;
  height: 55px;
  /* background-color: #b63334; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.css-modal-details summary:hover,
.css-modal-details summary:active,
.css-modal-details summary:focus {
  color: #FFF;
}
.css-modal-details summary:before {
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  bottom: 0;
  left: 0;
  border-right: 50px solid transparent;
  z-index: -1;

  width: 221px;
  height: 55px;
  background-color: #b63334;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  cursor: pointer;
}
.css-modal-details summary:hover:before,
.css-modal-details summary:active:before,
.css-modal-details summary:focus:before {
  /* transform: translateX(0); */
}

/* Кнопка при открытом окне переходит на весь экран */
.css-modal-details details[open] summary {
  cursor: default;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}

/* Контейнер, который затемняет страницу */
.css-modal-details details .cmc {
  display:flex;
  align-items:center;
  justify-content:center;    
}
.css-modal-details details[open] .cmc {
  pointer-events: none;
  z-index: 4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: bg 0.5s ease;
  background: rgba(0, 0, 0, 0.6); 
}

/* Модальное окно */
.css-modal-details details .cmt {
  font-family: Verdana, sans-serif;  
  font-size: 16px;
  padding: 20px;
  width:80%;
  max-width: 600px;
  max-height: 70%;
  transition: 0.5s;
  /* border: 6px solid var(--red); */
  border-radius: 12px;
  background: #F5F6F8;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
  text-align: center;
  overflow: auto;
}
.css-modal-details details[open] .cmt {
  animation: scale 0.5s ease;
  z-index: 4;
  pointer-events: auto;
}

/* Декоративная кнопка с крестиком */
.css-modal-details details[open] .cmc:after {
  display: none;
  content: "";
  width: 50px;
  height: 50px;
  /* border: 6px solid #BFE2FF; */
  border-radius: 12px;
  position: absolute;
  z-index: 10;
  top: 35%;
  left: 70%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
  background-image: url("assets/images/closesm.svg");
  background-color: #FFF;
  background-size: 40px;
  background-repeat:no-repeat;
  background-position: center center;
  animation: scale 0.5s ease;
}

/* Анимации */
@keyframes scale {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}
@keyframes move {
  0% {
      right: -80px;
  }
  100% {
      right: 20px;
  }
}
@keyframes bg {
  0% {
      /* background: rgba(51, 122, 183, 0); */
  }
  100% {
      /* background: rgba(51, 122, 183, 0.7); */
  }
}
