@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --red: #b63334;
  --grey: #434343;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--grey);
  font-style: normal;
  font-weight: 400;
}

.container {
  width: 1200px;
  margin: auto;
}

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: var(--red);
}
.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
}

.logo {
  width: 135px;
  height: 67.69px;
}

.headerLinks {
  width: 600px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-right: 10px;
  margin-left: 10px;
}

.el {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #434343;
}

.social {
  display: flex;
  flex-direction: column;
}

.mail {
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #434343;
  position: relative;
  top: 5px;
}

.mail img {
  width: 18px;
  height: 15px;
  margin-right: 5px;
}

.connect {
  position: relative;
  top: 5px;
}
.connect img {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
.btn {
  width: 221px;
  height: 55px;
  background-color: #b63334;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-left: 25px;
  cursor: pointer;
}

.defend {
  background-image: url("images/bg1.png");
}

.defendContent ul li {
  color: var(--red);
  margin-top: 13px;
}
.defendContent ul li span {
  color: var(--grey);
}
.wrapper {
  height: 610px;
  padding-top: 70px;
  display: flex;
}

.call{
    width: 200px;
}
.callForm{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}

.callForm btn{
    width: 233px;
    height: 57px;
}
#telNo{
    background: #FFFFFF;
    border-radius: 5px;
    width: 221px;
    height: 55px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 0px;
    padding-left: 10px;
}
button{
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}


.largeLogo img {
  width: 512px;
  height: 461px;
}

.advantagesContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 308px;
}

.card {
  width: 360px;
  height: 156px;
  padding-left: 20px;
  background: #b63334;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.cardContent {
  padding: 10px;
}

.cardContent h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 12px;
}

.cardContent p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.situationContent {
  display: flex;
  flex-direction: column;
}

.situationContentHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--red);
}

.situationContentHead span {
  color: var(--grey);
}

.situationContentMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.situationImg img {
  width: 200px;
  height: 137px;
  margin-bottom: 20px;
}

.situationCard {
  width: 200px;
}

.situationText {
  height: 223px;
  background: linear-gradient(
    246.89deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 57.67%
  );
  filter: drop-shadow(4px 4px 50px rgba(0, 0, 0, 0.1));
  border-radius: 5px;
  padding: 20px;
}

.situationText span {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.situationContent p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.find {
  height: 1265px;
  padding-top: 75px;
  background: #f8f8f8;
  background-image: url("images/bg3.svg");
  background-repeat: no-repeat;
  background-position: right top;
}

.findContent {
  display: flex;
  flex-direction: column;
}

.findHead {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.findHead li {
  color: var(--red);
}

.findHead span {
  color: var(--grey);
}

.findImg {
  margin-bottom: 45px;
}
.findImg img {
  width: 1160px;
  height: 571px;
}

.findMain {
  display: flex;
  flex-wrap: wrap;
}

.findCard {
  width: 380px;
  margin-right: 20px;
}

.findCard li {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--red);
}
.findCard p {
  padding-left: 20px;
}

.suggest {
  height: 1000px;
  padding-top: 75px;
  background-image: url("images/bg4.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.suggestContent {
  display: flex;
  flex-direction: column;
}

.suggestHead {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.suggestHead li {
  color: var(--red);
}

.suggestHead span {
  color: var(--grey);
}

.suggestMain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.suggestCard {
  width: 360px;
  height: 213px;
  background: #f8f8f8;
  border-bottom: 5px solid var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.suggestCard:hover {
  color: var(--red);
  border-bottom: 5px solid var(--red);
}

.suggestWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.suggestText {
  height: 213px;
  padding: 20px;
  position: relative;
  padding-bottom: 50px;
}

.suggestText p {
  position: relative;
}

.itemHead {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.itemfooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 10px;
}

.itemfooter img {
  margin-left: 90%;
}

.more {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.stages {
  height: 771px;
  background: #f8f8f8;
  padding-top: 75px;
}

.stagesHead {
  display: flex;
  align-items: center;
}

.stagesHead li {
  color: var(--red);
}

.stagesHead span {
  color: var(--grey);
}

.stagesMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stagesCard {
  width: 360px;
  height: 254px;
  background: #ffffff;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.stagesText {
  padding: 45px;
  position: relative;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.stagesItemHead {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.stagesText p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.results {
  height: 850px;
  background-image: url("images/bg5.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 75px;
}

.resultsContent {
  display: flex;
  flex-direction: column;
}

.resultsHead {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resultsHead li {
  color: var(--red);
}

.resultsHead span {
  color: var(--grey);
}

.resultsMain {
  width: 1160px;
  height: 557px;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.case {
  width: 60%;
}

.caseHead {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 25px;
}

.caseTask {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
}

.caseSolution {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
}

.solutionText {
  margin-bottom: 25px;
}

.readMore {
  display: inline;
  color: var(--red);
  border-bottom: 1px solid var(--red);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.choose {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.chooseCard {
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 25px;
}

.questions {
  padding-top: 75px;
}

.questionsHead {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.questionsHead li {
  color: var(--red);
}

.questionsHead span {
  color: var(--grey);
}

.questionsMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.questionCard {
  display: flex;
  flex-direction: column;
  width: 560px;
  background: #ffffff;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 30px;
  margin-right: 40px;
}

.cardHead {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.headerText {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.cardContent {
  padding: 0px 20px 20px 20px;
}

.reviews {
  padding-top: 75px;
  height: 495px;
}

.reviewsContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contacts {
  height: 768px;
  background-color: #f8f8f8;
}

.contactsContent {
  padding-top: 75px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contentBlock h2 {
  margin-top: -10px;
}

.contentText {
  border-left: 5px solid var(--red);
  padding-left: 25px;
}
.num {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.sub {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #858585;
}

.mail2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}

.mail2 img {
  width: 27px;
  height: 22px;
  margin-right: 15px;
}

.social2 img {
  width: 26px;
  margin-right: 20px;
}

.qrText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.qrText img {
  width: 175px;
  height: 175px;
  margin-left: -10px;
}

.map img {
  width: 600px;
  height: 638px;
}

footer {
  background-color: #1b1b1b;
  padding-top: 75px;
  padding-bottom: 75px;
}

.reviewsContent {
  display: flex;
  height: 495px;
}
.carousel-wrapper {
  height: 300px;
  position: relative;
  width: 800px;
  margin: 0 auto;
}
.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.arrow {
  background-image: url("images/arrow.svg");
  background-size: cover;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
  width: 34px;
  height: 34px;
}

.arrow-prev {
  left: -125px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}

.arrow-next {
  right: -125px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
}

.light {
  color: white;
}

@media (max-width: 480px) {
  .arrow,
  .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
}

/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background-color: #F8F8F8;
  background-size: cover;
  border-bottom: 8px solid var(--red);
}
.item-2 {
    background-color: #F8F8F8;
    border-bottom: 8px solid var(--red);
}
.item-3 {
    background-color: #F8F8F8;
    border-bottom: 8px solid var(--red);
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

.avaMark{
    margin-bottom: 18px;
}